:root {
    --bg-color: #0f0e17;
    --stroke-color: #121629;
    --button-color: #fffffe;
    --main-color: #fffffe;
    --headline-color: #ff8906;
    --secondary-color: #f25f4c;
    --text-bg: #ff8906;
    --paragraph: #a7a9be;
}

html,body{
    overflow-x: hidden;
}

#resume {
    background-color: var(--bg-color);
}

#demo {
    background-color: var(--bg-color);
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

#demo-iframe{
    background-color: var(--bg-color);
    min-width: 100%;
    min-height: 100vh;
    justify-content: center;
}

#tsparticles {
    background-color: var(--stroke-color);
}

#nav-bar {
    background-color: var(--bg-color);
}

#experience-accordion {
    width: 85%;
}

.title {
    color: var(--main-color);
}

.accordion-button {
    --bs-accordion-active-bg: var(--button-color);
    --bs-accordion-btn-bg: var(--secondary-color);
}

.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: none;
}

.job-description {
    background-color: var(--text-bg);
}

.card {
    --bs-body-bg: var(--button-color);
}

.typing-container {
    color: var(--headline-color);
}

.experience-panel-0 {
    background-color: var(--stroke-color);
    width: 60%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    text-indent: 1%;
}


.list-items {
    text-align: left;
    text-indent: 0%;
    color: var(--paragraph);
    padding-bottom: 0.1%;
    padding-right: 0.5%;
}

.job-title {
    color: var(--secondary-color);
}

.navbar-name {
    color: var(--headline-color);
}

.skill-title {
    color: var(--secondary-color);
}

.main-name {
    color: var(--headline-color);
    font-size: 500%;
    font-family:'Times New Roman', Times, serif;
}

.anchor {
    display: block;
    position: relative;
    top: -6vh;
    visibility: hidden;
}

.skill-container {
    background-color: var(--stroke-color);
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 0.5%;
    border-radius: 10px;
}

.skill-info {
    text-align: right;
    padding-right: 0.5%;
    overflow: auto;
}

.skill-card {
    text-align: center;
    max-width: fit-content;
    float: right;
    margin: 0.5%;
}

.skill-image {
    font-size: 5em;
    min-width: 1em;
    width: 1em;
    min-height: 1em;
    height: auto;
}

.project-panel {
    color: var(--main-color);
    background-color: var(--stroke-color);
    width: 60%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    text-indent: 0%;
    padding-left: 1%;
    margin-bottom: 1%;
}

.project-icon {
    font-size: 2em;
}

.project-buttons {
    padding-bottom: 1%;
}

.bottom {
    padding-top: 2%;
}

.nav-link{
    text-decoration: none;
}